body {
	font: 12px/170% Verdana, sans-serif;
	margin: auto 33% auto 33%
}
td label{
	font-size:14px;
	font-weight:bold;
	color:#666;
	font-family: arail,helvetica,san-serif;
}
table input{
	height:28px;
	width:200px;
	border:1px solid #ccc;
	font-size:16px;
	font-weight: bold;
	color:#666;
	padding:7px 0 0 4px;
}
.psr_Weak {
	color: red;
}
.psr_Medium {
	color: orange;
}
.psr_Strong {
	color: #3366CC;
}
.psr_Excellent {
	color: green;
}
#warning {
	color: #7e0000;
}
#main {
}

